.collectionpage {
  display: flex;
  flex-direction: column;
}
.collectionpage-title {
  font-size: 38px;
  margin: 0 auto 30px;
}

.collectionpage-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
